body{
   margin:0;
   font family:'segoe UI',sans-serif;
   background:#fff;
   color:#111;
}
  .navbar{
    display: flex;
    justify-content:space-between;
    align-items:center;
    background:#000;
    padding:15px 30px;
}
   
   .logo{
       color:white;
       font size;24px;
}
  
  .nav-links a{
    color:white;
    text decoration:none;
    font-weight:500;
}
  .hero{
     background:
  url('https://www.uber-assets.com/image/upload/q_auto:eco,c_fill,w_1600,h_900/v1631122195/assets/53
        /4bbeb8-30db-4bb2-a27-0f37cfa48959/original/uber_hero.jpg')no repeat center center/cover;
        height:90vh;
       display:flex;
       align-items:center;
       jutify-content:center;
       text-align:center;
       color:white;
    }
 .hero-text button{
     padding:10px 20px;
     background:#fff;
     color:#000;
    font weight:bold;
    border :none;
    cursor:pointer;
    border radius:4px;
}
   @media(max-width:600px){
       .nav-links {
          flex-direction:column;
         gap:10px;
     } 
    hero-text input{
      width:100%;
    }
  }
        